body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
}

.links line {
  stroke: #666;
}

.header {
  display: flex;
  min-height: 40px;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffd56e;
  width: 100vw;
  align-items: center;
  font-size: 1.5em;
}

.header ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding-inline-start: 0px;
  display: inline-flex;
  list-style: none;
}

.header ul li {
  padding: 0 1.4em 0 0;
}

.header p {
  padding: 0 0 0 1.4em;
}

#current-page {
  border-bottom: 4px solid #525252;
}

a {
  text-decoration: none;
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  bottom: 0px;
  -webkit-transition: 0.1s linear bottom;
  -moz-transition: 0.1s linear bottom;
  transition: 0.1s linear bottom;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 1px;
  width: 100%;
  height: 1px;
  background: #717171;
  -webkit-transform-origin: left center;
  -webkit-transition: 0.075s linear all;
  -moz-transition: 0.075s linear all;
  transition: 0.075s linear all;
}

a:hover {
  cursor: pointer;
  bottom: 1px;
}

a:hover::after {
  height: 2px;
  bottom: 1px;
  background: #ffd56e;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

a:nth-of-type(2):hover::after {
  background: rgba(255, 228, 50, 1);
}
a:active {
  top: 1px;
}

.header a {
  color: #525252;
}

.header a::after {
  content: unset;
}

.content-body {
  overflow-y: auto;
  height: 95vh;
}

.columns {
  display: flex;
  border-top: 1px solid #525252;
  margin: 3vh 5vw;
  padding-bottom: 5vh;
}

.subtitle {
  margin: 3vh 5vw;
  margin-bottom: 0;
}

.subtitle h2 {
  font-weight: 600;
}

.subtitle h3 {
  font-weight: 600;
}
.title {
  margin-bottom: 0;
  height: 25vh;
  background-image: url("../img/background.png");
  background-color: #fcfcfc;
  display: grid;
  grid-template-areas: "inner-div";
  align-content: flex-end;
}

.title h1 {
  font-weight: 200;
  font-size: 84px;
  margin: auto;
  grid-area: inner-div;
}

.title h3 {
  display: flex;
  font-weight: 200;
  grid-area: inner-div;
  width: 100vw;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding-bottom: 120px;
}

#sketch-canvas {
  width: 100vw;
  grid-area: inner-div;
  position: fixed;
  height: 25vh;
  cursor: crosshair;
}
.description {
  margin: 3vh 5vw;
}

.description p {
  font-family: "Montserrat";
  font-weight: normal;
  line-height: 1.55;
  font-size: 13pt;
  color: rgba(33, 33, 33, 1);
}

.description ul li {
  font-family: "Montserrat";
  font-weight: normal;
  line-height: 1.55;
  font-size: 13pt;
  color: rgba(33, 33, 33, 1);
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.important-dates {
  margin-top: 3vh;
  font-weight: 600;
}

.date-label {
  font-weight: 300;
  font-family: "Montserrat";
}

.organizers {
  background-color: white;
}
.organizer-container {
  display: flex;
  padding-bottom: 5vh;
  align-items: center;
}

.organizer-container img {
  height: 200px;
}

.organizer-text {
  padding-left: 2vw;
}

.organizer-image-container {
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.organizer-text h2 {
  font-weight: 300;
  margin-bottom: 0;
}

.organizer-text h3 {
  font-weight: 300;
  margin-top: 0.3em;
  font-style: italic;
}

#opera_house {
  width: 25vw;
  position: fixed;
  bottom: 0;
}
